[Unit]
Description=Sort grocery list

[Timer]
# run every 20 minutes between 6AM and 10PM
OnCalendar=*-*-* 06..22:00/20 America/Denver

[Install]
WantedBy=timers.target
