[Unit]
Description=Add today's google calendar agenda to the daily note

[Service]
Type=oneshot
ExecStart=/bin/sh -c '~/projects/exocortex/personal/bin/daily-agenda-add'
