[Unit]
Description=Generate new daily routine and symlink it into place

[Timer]
# This is in UTC
OnCalendar=*-*-* 8:00:00

[Install]
WantedBy=timers.target
