[Unit]
Description=Generate new monthly routine and symlink it into place

[Timer]
# Run at 1 AM on the 25th day of every month
OnCalendar=*-*-25 1:00:00 America/Denver

[Install]
WantedBy=timers.target
