[Unit]
Description=Generate new monthly routine and symlink it into place

[Timer]
# Run at 1 AM EST on the 25th day of every month
# This is in UTC
OnCalendar=*-*-25 6:00:00

[Install]
WantedBy=timers.target
