; https://github.com/baskerville/sxhkd/blob/master/contrib/systemd/sxhkd.service
[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)


[Service]
Type=simple
Environment=XAUTHORITY=%h/.Xauthority
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
;RemainAfterExit=yes

[Install]
WantedBy=default.target
