[Unit]
Description=Starts ydotoold service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/ydotoold
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
TimeoutSec=180
Environment="DBUS_SESSION_BUS_ADDRESS=/run/user/1000/bus"

[Install]
WantedBy=default.target
