calendar key="c" "focus" "calendar"
// emoji key="E" "rofimoji" "--skin-tone" "light" "--action" "copy"
browser key="b" "focus" "browser"
"IDE (VS Code)" key="i" "focus" "vscode"
// todoist key="d" "focus" "todoist"
email key="e" "focus" "email"
database key="d" "focus" "tableplus"
fuzzball key="F" "fuzz-script-choose"
firefox key="f" "focus" "firefox"
yeet key="y" "cat" "--no-such-option" "/no/such/file"
// music key="m" "focus" "music"
obsidian key="o" "focus" "obsidian"
onepassword key="p" "focus" "onepassword"
slack key="s" "focus" "slack"
terminal key="t" "focus" "terminal"
// executables key="x" "rofi" "-show" "run"
zoom key="z" "focus" "zoom"
// zulip key="Z" "focus" "zulip"
applications key="a" {
  calculator key="a" "focus" "calculator"
  // freecad key="f" "focus" "freecad"
  // gedit key="g" "focus" "gedit"
  // discord key="d" "focus" "discord"
  insomnia key="i" "focus" "insomnia"
  insomnia key="p" "focus" "postman"
  vial key="v" "focus" "vial"
  // xournalpp key="x" "focus" "xournalpp"
}
hammerspoon key="h" {
  console key="c" "focus" "hammerspoonconsole"
  reload key="r" "focus" "hammerspoonreload"
}
layout key="l" {
  left key="l" "placement" "left"
  right key="r" "placement" "right"
  max key="m" "placement" "maximize"
  cycle key="c" "placement" "cycle"
}
journal key="j" {
  checkin key="c" "~/fuzzball/fh-journal-standup"
  journal key="j" "~/fuzzball/fh-journal-prompt"
  prompt key="p" "~/fuzzball/fh-journal-prompt"
  read key="r" "terminal-quick" "journal-read" "~/git.peterlyons.com/float-health"
  task key="t" "~/fuzzball/fh-journal-task"
  vim key="v" "~/fuzzball/fh-journal-vim"
}
utilities key="u" {
  activitymonitor key="a" "focus" "activitymonitor"
  console key="c" "focus" "console"
  systeminformation key="s" "focus" "systeminformation"
}

volume key="v" {
  zero key="0" "volume" "0"
  "10%" key="1" "volume" "10"
  "20%" key="2" "volume" "20"
  "30%" key="3" "volume" "30"
  "40%" key="4" "volume" "40"
  "40%" key="f" "volume" "40"
  "50%" key="5" "volume" "50"
  "60%" key="6" "volume" "60"
  "60%" key="s" "volume" "60"
  "70%" key="7" "volume" "70"
  "80%" key="8" "volume" "80"
  "80%" key="e" "volume" "80"
  "90%" key="9" "volume" "9%"
  "90%" key="n" "volume" "90"
  "100%" key="1" "volume" "100"
  "100%" key="h" "volume" "100"
  "100%" key="o" "volume" "100"
  // mute key="m" "volume" "mute"
  // toggle-mute key="t" "volume-toggle-mute"
  // adjust key="a" "~/fuzzball/volume-adjust"
  // down key="d" "volume" "-10%"
  // up key="u" "volume" "+10%"
}
