previous key="." "hypr-focus" "previous"
calendar key="c" "hypr-focus" "calendar"
"1password" key="p" "hypr-focus" "1password"
emoji key="E" "rofimoji" "--skin-tone" "light" "--action" "copy" "--selector" "wofi"
browser key="b" "hypr-focus" "browser"
zen key="z" "hypr-focus" "zenbrowser"
email key="e" "hypr-focus" "email"
"IDE (VS Code)" key="i" "hypr-focus" "vscode"
fuzzball key="F" "fuzz-script-choose"
windows key="w" "focus-window-fuzzy-hyprland"
hyprland key="h" {
  ulauncher key="u" "ulauncher-toggle"
  exit key="x" "hyprctl" "dispatch" "exit"
  "previous workspace" key="," "hyprctl" "dispatch" "workspace" "previous"
  "side by side" key="s" "hypr-side-by-side"
}
journal key="j" {
  prompt key="j" "journal-append-prompt" "/home/plyons/git.peterlyons.com/exocortex/personal"
  task key="t" "journal-append-task" "/home/plyons/git.peterlyons.com/exocortex/personal"
  read key="r" "terminal-quick" "journal-read" "/home/plyons/git.peterlyons.com/exocortex/personal"
  vim key="v" "terminal-quick" "journal-append-vim" "/home/plyons/git.peterlyons.com/exocortex/personal"
}
"obsidian personal" key="o" "hypr-focus" "obsidianpersonal"
"obsidian FRC" key="O" "hypr-focus" "obsidianfrc"
slack key="s" "hypr-focus" "slack"
music key="m" "hypr-focus" "music"
umusic key="u" {
  ario key="a" "hypr-focus" "ario"
  play key="p" "mpc" "play"
  toggle key=" " "mpc" "toggle"
  pause key="u" "mpc" "pause"
}
terminal key="t" "hypr-focus" "terminal"
trello key="T" "hypr-focus" "trello"
"sirula (launcher)" key="x" "sirula"
applications key="a" {
  calculator key="c" "hypr-focus" "calculator"
  bambu-studio key="b" "hypr-focus" "bambustudio"
  creality-print key="e" "hypr-focus" "crealityprint"
  freecad key="f" "hypr-focus" "freecad"
  gedit key="g" "hypr-focus" "gedit"
  iwgtk key="i" "iwgtk"
  localsend key="l" "localsend"
  // discord key="d" "hypr-focus" "discord"
  // insomnia key="i" "hypr-focus" "insomnia"
  kicad key="k" "hypr-focus" "kicad"
  "prusa slicer" key="p" "hypr-focus" "prusaslicer"
  // arandr key="r" "arandr"
  vial key="v" "hypr-focus" "vial"
  // xournalpp key="x" "hypr-focus" "xournalpp"
}
volume key="v" {
  zero key="0" "volume" "0"
  "10%" key="1" "volume" "10%"
  "20%" key="2" "volume" "20%"
  "30%" key="3" "volume" "30%"
  "40%" key="4" "volume" "40%"
  "40%" key="f" "volume" "40%"
  "50%" key="5" "volume" "50%"
  "60%" key="6" "volume" "60%"
  "60%" key="s" "volume" "60%"
  "70%" key="7" "volume" "70%"
  "80%" key="8" "volume" "80%"
  "80%" key="e" "volume" "80%"
  "90%" key="9" "volume" "90%"
  "90%" key="n" "volume" "90%"
  "100%" key="1" "volume" "100%"
  "100%" key="h" "volume" "100%"
  "100%" key="o" "volume" "100%"
  mute key="m" "volume" "mute"
  toggle-mute key="t" "volume-toggle-mute"
  adjust key="a" "/home/plyons/fuzzball/volume-adjust"
  down key="d" "volume" "-10%"
  up key="u" "volume" "+10%"
}
