calendar key="C" "focus" "calendar"
emoji key="E" "rofimoji" "--skin-tone" "light" "--action" "copy"
browser key="b" "focus" "browser"
"VS Code" key="c" "focus" "vscode"
todoist key="d" "focus" "todoist"
email key="e" "focus" "email"
fuzzball key="F" "fuzzball-script-choose"
firefox key="f" "focus" "firefox"
yeet key="y" "cat" "--no-such-option" "/no/such/file"
music key="m" "focus" "music"
obsidian key="o" "focus" "obsidian"
onepassword key="p" "focus" "onepassword"
qutebrowser key="q" "focus" "qutebrowser"
slack key="s" "focus" "slack"
terminal key="t" "focus" "terminal"
executables key="x" "rofi" "-show" "run"
zoom key="z" "focus" "zoom"
zulip key="Z" "focus" "zulip"
applications key="a" {
  calculator key="a" "focus" "calculator"
  freecad key="f" "focus" "freecad"
  gedit key="g" "focus" "gedit"
  discord key="d" "focus" "discord"
  insomnia key="i" "focus" "insomnia"
  kicad key="k" "focus" "kicad"
  prusa key="p" "focus" "prusa"
  arandr key="r" "arandr"
  vial key="v" "focus" "vial"
  xournalpp key="x" "focus" "xournalpp"
}
journal key="j" {
  FRC key="f" {
    prompt key="p" "journal-append-prompt" "/home/plyons/git.peterlyons.com/focus-retreat-center"
    read key="r" "terminal-quick" "journal-read" "/home/plyons/git.peterlyons.com/focus-retreat-center"
    vim key="v" "terminal-quick" "journal-append-vim" "/home/plyons/git.peterlyons.com/focus-retreat-center"
  }
  personal key="p" {
    prompt key="p" "journal-append-prompt" "/home/plyons/git.peterlyons.com/petes-personal-journal"
    read key="r" "terminal-quick" "journal-read" "/home/plyons/git.peterlyons.com/petes-personal-journal"
    vim key="v" "terminal-quick" "journal-append-vim" "/home/plyons/git.peterlyons.com/petes-personal-journal"
  }
}
volume key="v" {
  zero key="0" "volume" "0"
  "10%" key="1" "volume" "10%"
  "20%" key="2" "volume" "20%"
  "30%" key="3" "volume" "30%"
  "40%" key="4" "volume" "40%"
  "40%" key="f" "volume" "40%"
  "50%" key="5" "volume" "50%"
  "60%" key="6" "volume" "60%"
  "60%" key="s" "volume" "60%"
  "70%" key="7" "volume" "70%"
  "80%" key="8" "volume" "80%"
  "80%" key="e" "volume" "80%"
  "90%" key="9" "volume" "90%"
  "90%" key="n" "volume" "90%"
  "100%" key="1" "volume" "100%"
  "100%" key="h" "volume" "100%"
  "100%" key="o" "volume" "100%"
  mute key="m" "volume" "mute"
  toggle-mute key="t" "volume-toggle-mute"
  adjust key="a" "/home/plyons/fuzzball/volume-adjust"
  down key="d" "volume" "-10%"
  up key="u" "volume" "+10%"
  "30%" key="3" "volume" "30%"
}
work key="w" {
  "FRC browser" key="b" "focus" "frc"
  calendar key="c" "focus" "fastmail_calendar"
  fastmail key="e" "focus" "fastmail"
  trello key="t" "focus" "trello"
  obsidian key="o" "open" "obsidian://open?vault=focus-retreat-center"
  workflowy key="w" "focus" "workflowy"
}
