calendar key="c" "focus-niri" "calendar"
"1password" key="p" "focus-niri" "1password"
emoji key="E" "rofimoji" "--skin-tone" "light" "--action" "copy" "--selector" "wofi"
browser key="b" "focus-niri" "browser"
email key="e" "focus-niri" "email"
fuzzball key="F" "fuzz-script-choose"
windows key="w" "niri-focus-window-fuzzy"
niri key="n" {
  "move left" key="h" "niri-move-previous" "move-column-left"
  "move down" key="j" "niri-move-previous" "move-window-to-workspace-down"
  "move up" key="k" "niri-move-previous" "move-window-to-workspace-up"
  "move right" key="l" "niri-move-previous" "move-column-right"
  "monitor right" key="m" "niri" "msg" "action" "move-window-to-monitor-right"
  "monitor left" key="M" "niri" "msg" "action" "move-window-to-monitor-left"
  quit key="q" "niri" "msg" "action" "quit"
}
// "IDE (VS Code)" key="i" "focus" "vscode"
obsidian key="o" "focus-niri" "obsidian"
slack key="s" "focus-niri" "slack"
music key="m" "focus-niri" "music"
umusic key="u" {
  ario key="a" "focus-niri" "ario"
  play key="p" "mpc" "play"
  toggle key=" " "mpc" "toggle"
  pause key="u" "mpc" "pause"
}
terminal key="t" "focus-niri" "terminal"
trello key="T" "focus-niri" "trello"
ulauncher key="x" "ulauncher-toggle"
applications key="a" {
  // calculator key="c" "focus" "calculator"
  bambu-studio key="b" "focus-niri" "bambustudio"
  // creality-print key="e" "focus-niri" "crealityprint"
  freecad key="f" "focus-niri" "freecad"
  gedit key="g" "focus-niri" "gedit"
  iwgtk key="i" "iwgtk"
  // discord key="d" "focus" "discord"
  // insomnia key="i" "focus" "insomnia"
  // kicad key="k" "focus" "kicad"
  "prusa slicer" key="p" "focus-niri" "prusaslicer"
  // arandr key="r" "arandr"
  // vial key="v" "focus" "vial"
  // xournalpp key="x" "focus" "xournalpp"
}
volume key="v" {
  zero key="0" "volume" "0"
  "10%" key="1" "volume" "10%"
  "20%" key="2" "volume" "20%"
  "30%" key="3" "volume" "30%"
  "40%" key="4" "volume" "40%"
  "40%" key="f" "volume" "40%"
  "50%" key="5" "volume" "50%"
  "60%" key="6" "volume" "60%"
  "60%" key="s" "volume" "60%"
  "70%" key="7" "volume" "70%"
  "80%" key="8" "volume" "80%"
  "80%" key="e" "volume" "80%"
  "90%" key="9" "volume" "90%"
  "90%" key="n" "volume" "90%"
  "100%" key="1" "volume" "100%"
  "100%" key="h" "volume" "100%"
  "100%" key="o" "volume" "100%"
  mute key="m" "volume" "mute"
  toggle-mute key="t" "volume-toggle-mute"
  adjust key="a" "/home/plyons/fuzzball/volume-adjust"
  down key="d" "volume" "-10%"
  up key="u" "volume" "+10%"
}
