!/.config/Code/User
.1pasword/agent.sock
.arduinoIDE
.bun/install/cache
.bun_repl_history
.cinnamon/configs
.cinnamon/configs
.cinnamon/configs
.config/1Password
.config/Autodesk
.config/BambuStudio
.config/BraveSoftware
.config/Logseq
.config/PrusaSlicer/UserAccount.dat
.config/arduino-ide
.config/ario/radios/radios.xml
.config/caldr/
.config/chiko/.bookmarks
.config/copyq/copyq-monitor.ini
.config/copyq/copyq_geometry.ini.lock
.config/dlv/.dbg_history
.config/flowblade/
.config/flutter/tool_state
.config/ghostty/config
.config/glib-2.0/settings/keyfile
.config/google-chrome-beta
.config/google-chrome-unstable
.config/kicad
.config/kitty/*.bak
.config/lla/themes
.config/menus
.config/microsoft-edge-dev
.config/ncmpcpp/error.log
.config/netlify/autocompletion.json
.config/netlify/config.json
.config/nvim/plugin/packer_compiled.lua
.config/op/config
.config/raycast/extensions
.config/temporalio/version-info.yaml
.config/three-dots-labs/.trainings-config
.config/toot/config.json
.config/vivaldi
.config/vivaldi-snapshot
.config/zed/embeddings
.config/zed/prompts
.config/zoom.conf
.dart-cli-completion
.dart-tool
.flutter
.gervill
.gnome
.matplotlib
.mysql_history
.newsboat/cache.db.lock
.pub-cache
.shutter
.sourcegraph-psql
.tap_repl_history
.terraformrc
.thunderbird
.ts_node_repl_history
.vscode-oss/argv.json
.yarnrc
.zsh_history
.zsh_sessions
/*.auth
/.3T
/.CFUserTextEncoding
/.Conduktor
/.FreeCAD
/.SpaceVim
/.Trash
/.Xauthority
/.android
/.arduino15
/.awesome-client_history
/.aws
/.bundle
/.cache
/.cargo
/.circleci
/.cmake
/.cody-symf
/.composer
/.config/3T
/.config/Code*/*
/.config/Code*/User/*Storage
/.config/Code*/User/History
/.config/Electron
/.config/Electron/Crashpad
/.config/FreeCAD
/.config/Insomnia
/.config/Keybase
/.config/Meltytech
/.config/NoSQLBooster for MongoDB
/.config/Pinta
/.config/Postman
/.config/PrusaSlicer/PrusaSlicer.ini
/.config/PrusaSlicer/cache
/.config/PrusaSlicer/snapshots
/.config/PrusaSlicer/vendor
/.config/QtProject.conf
/.config/Slack
/.config/TabNine
/.config/Unknown Organization
/.config/VIA
/.config/WorkFlowy
/.config/Zulip
/.config/aichat
/.config/awesome/awesome-wm-widgets
/.config/awesome/cyclefocus
/.config/awesome/cyclefocus
/.config/blender
/.config/broot/launcher
/.config/cef_user_data
/.config/chromium
/.config/chrysalis
/.config/coc/extensions
/.config/coc/memos.json
/.config/com.sourcegraph.cody/logs
/.config/conduktor
/.config/conduktor/v1/app.properties
/.config/configstore
/.config/copyq/*.dat
/.config/copyq/*bak*
/.config/copyq/copyq.lock
/.config/copyq/copyq.pub
/.config/copyq/copyq_geometry.ini
/.config/copyq/copyq_tabs.ini
/.config/cura
/.config/darktable
/.config/dconf/user
/.config/enchant
/.config/evans
/.config/evince
/.config/gcloud
/.config/gedit
/.config/geeqie
/.config/gh
/.config/go/telemetry
/.config/gocket/auth.json
/.config/google-chrome
/.config/gthumb
/.config/gtk-2.0/gtkfilechooser.ini
/.config/history
/.config/htop
/.config/karabiner/assets
/.config/karabiner/automatic_backups
/.config/keybase
/.config/lazygit/state.yml
/.config/mono.addins
/.config/nordvpn
/.config/nushell/history.txt
/.config/nvim/.netrwhist
/.config/obs-studio
/.config/obsidian
/.config/pavucontrol.ini
/.config/pulse
/.config/rclone
/.config/skypeforlinux
/.config/stripe
/.config/syncthing
/.config/systemd/user/timers.target.wants
/.config/temporalio/tctl.yaml
/.config/todoist
/.config/transmission
/.config/transmission
/.config/twg
/.config/vlc/vlc-qt-interface.conf
/.config/xbuild
/.config/xournalpp
/.config/zoomus.conf
/.cpcache
/.cups
/.dcm.yaml
/.devtool.env
/.dlv
/.docker
/.earthly
/.eclipse
/.electron-gyp
/.elm
/.emacs.d
/.env.*
/.ergodox-udev
/.fasd
/.finda
/.fxlauncher.Launcher
/.gcalcli*
/.gdfuse
/.gem
/.gitkraken
/.gitlibs
/.gnupg
/.goful
/.google-service-cli
/.gradle
/.history
/.home.git
/.iterm2
/.iwctl_history
/.java
/.jfrog
/.junique
/.keybase
/.kube
/.lein
/.lesshst
/.local
/.luarocks
/.luarocks
/.m2
/.mozilla
/.mpd
/.n
/.netrc
/.newsboat/cache.db
/.newsboat/history*
/.nmcli-history
/.node-gyp
/.node_repl_history
/.npm
/.npm-node-*
/.npmrc
/.npmrc*
/.nvm
/.op
/.opam
/.openshot_qt
/.paste-queue
/.pgadmin
/.phpls
/.pip
/.pki
/.psql_history
/.pvpn-cli
/.pypirc
/.python_history
/.rnd
/.rustup
/.sbt
/.sdkman
/.serverless
/.serverlessrc
/.ssh
/.stack
/.teensy
/.terraform.d
/.tig_history
/.tilt-dev/analytics
/.tilt-dev/token
/.tmux
/.tor-browser
/.vagrant.d
/.viminfo
/.visidata/cache
/.vpython*
/.vpython-root
/.vscode
/.vscode-oss/extensions
/.wget-hsts
/.xournal
/.xournalpp
/.xsession-errors*
/.zcompcache
/.zcompdump
/.zoom
/.zsh-history
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Google Drive
/Library
/Movies
/Pictures
/Public
/archive
/backups
/bookings
/books
/clients
/clients_old
/downloads
/exocortex
/f22
/f23
/float-health
/git.peterlyons.com
/github
/github.com
/go
/in
/keybase
/local
/mailchimp
/mc
/monolith
/music
/org
/photos
/projects
/scratch
/screens
/sdk
/shopchimp
/snippets
/target
/tmp
/voice-memos
/work-*
Arduino
.dart-cli-completion
.config/ibus/bus
.config/fcitx5
.dart-cli-completion
_default.hcl
f24
login_1689539373.hcl
.claude/statsig
.claude/__store.db
.config/lnav/configs/default
.config/ario/covers
.1password/agent.sock
.claude
.Leapp
.config/lnav/filter-regex.history
.config/lnav/log_metadata.db
.config/lnav/search.history
.claude.json
.config/lnav
.cocoapods/repos
.expo
.swiftpm
.var/app/com.bambulab.BambuStudio
f25
.config/Creality/Creality Print.conf
.var/app/im.riot.Riot
.app-store/auth
.app-store/itunes_service_key.txt
.claude.json.backup
