/.config/Code/*
!.config/Code/User
.config/Code/User/*Storage

/.3T
/.CFUserTextEncoding
/.Conduktor
/.Trash
/.Xauthority
/.android
/.aws
/.cache
/.cargo
/.circleci
/.config/3T
/.config/Insomnia
/.config/Keybase
/.config/NoSQLBooster for MongoDB
/.config/Pinta
/.config/QtProject.conf
/.config/Slack
/.config/TabNine
/.config/Unknown Organization
/.config/WorkFlowy
/.config/Zulip
/.config/coc/extensions
/.config/coc/memos.json
/.config/conduktor
/.config/conduktor/v1/app.properties
/.config/configstore
/.config/copyq/*.dat
/.config/copyq/*bak*
/.config/copyq/copyq.pub
/.config/copyq/copyq_geometry.ini
/.config/copyq/copyq_tabs.ini
/.config/cura
/.config/dconf/user
/.config/enchant
/.config/evince
/.config/gcloud
/.config/gedit
/.config/gh
/.config/google-chrome
/.config/gtk-2.0/gtkfilechooser.ini
/.config/history
/.config/htop
/.config/karabiner/assets
/.config/karabiner/automatic_backups
/.config/keybase
/.config/mono.addins
/.config/nordvpn
/.config/nvim/.netrwhist
/.config/obs-studio
/.config/pavucontrol.ini
/.config/pulse
/.config/rclone
/.config/syncthing
/.config/systemd/user/timers.target.wants
/.config/twg
/.config/vlc/vlc-qt-interface.conf
/.config/zoomus.conf
/.cpcache
/.devtool.env
/.docker
/.electron-gyp
/.env.*
/.ergodox-udev
/.fasd
/.fxlauncher.Launcher
/.gcalcli*
/.gdfuse
/.gem
/.gitlibs
/.gnupg
/.gradle
/.history
/.home.git
/.iterm2
/.iwctl_history
/.jfrog
/.kube
/.lesshst
/.local
/.m2
/.mozilla
/.mpd
/.node_repl_history
/.npm
/.npmrc
/.nvm
/.op
/.pip
/.pki
/.pvpn-cli
/.pypirc
/.rustup
/.sbt
/.sdkman
/.serverless
/.serverlessrc
/.ssh
/.stack
/.tig_history
/.tmux
/.vagrant.d
/.viminfo
/.visidata/cache
/.vscode
/.wget-hsts
/.xournal
/.xournalpp
/.xsession-errors*
/.zcompdump
/.zoom
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Pictures
/Public
/archive
/backups
/books
/clients
/clients_old
/git.peterlyons.com
/github
/keybase
/local
/mailchimp
/mc
/music
/projects
/scratch
/screens
/target
/tmp
/voice-memos
/work-*
/.node-gyp
/.cups
/.config/gthumb
/.cmake
/.teensy
/github.com
/.bundle
/.dcm.yaml
/org
