/.config/Code/*
!.config/Code/User
.config/Code/User/*Storage
/.config/obsidian
/*.auth
/.3T
/.CFUserTextEncoding
/.Conduktor
/.FreeCAD
/.SpaceVim
/.Trash
/.Xauthority
/.android
/.arduino15
/.awesome-client_history
/.aws
/.bundle
/.cache
/.cargo
/.circleci
/.cmake
/.config/3T
/.config/FreeCAD
/.config/Insomnia
/.config/Keybase
/.config/NoSQLBooster for MongoDB
/.config/Pinta
/.config/Postman
/.config/PrusaSlicer/PrusaSlicer.ini
/.config/PrusaSlicer/cache
/.config/PrusaSlicer/vendor
/.config/QtProject.conf
/.config/Slack
/.config/TabNine
/.config/Unknown Organization
/.config/VIA
/.config/WorkFlowy
/.config/Zulip
/.config/awesome/awesome-wm-widgets
/.config/awesome/cyclefocus
/.config/awesome/cyclefocus
/.config/blender
/.config/broot/launcher
/.config/chromium
/.config/chrysalis
/.config/coc/extensions
/.config/coc/memos.json
/.config/conduktor
/.config/conduktor/v1/app.properties
/.config/configstore
/.config/copyq/*.dat
/.config/copyq/*bak*
/.config/copyq/copyq.lock
/.config/copyq/copyq.pub
/.config/copyq/copyq_geometry.ini
/.config/copyq/copyq_tabs.ini
/.config/cura
/.config/dconf/user
/.config/enchant
/.config/evans
/.config/evince
/.config/gcloud
/.config/gedit
/.config/geeqie
/.config/gh
/.config/gocket/auth.json
/.config/google-chrome
/.config/gthumb
/.config/gtk-2.0/gtkfilechooser.ini
/.config/history
/.config/htop
/.config/karabiner/assets
/.config/karabiner/automatic_backups
/.config/keybase
/.config/lazygit/state.yml
/.config/mono.addins
/.config/nordvpn
/.config/nvim/.netrwhist
/.config/obs-studio
/.config/pavucontrol.ini
/.config/pulse
/.config/rclone
/.config/skypeforlinux
/.config/stripe
/.config/syncthing
/.config/systemd/user/timers.target.wants
/.config/transmission
/.config/transmission
/.config/twg
/.config/vlc/vlc-qt-interface.conf
/.config/xbuild
/.config/xournalpp
/.config/zoomus.conf
/.cpcache
/.cups
/.dcm.yaml
/.devtool.env
/.dlv
/.docker
/.eclipse
/.electron-gyp
/.emacs.d
/.env.*
/.ergodox-udev
/.fasd
/.finda
/.fxlauncher.Launcher
/.gcalcli*
/.gdfuse
/.gem
/.gitkraken
/.gitlibs
/.gnupg
/.gradle
/.history
/.home.git
/.iterm2
/.iwctl_history
/.java
/.jfrog
/.keybase
/.kube
/.lein
/.lesshst
/.local
/.luarocks
/.luarocks
/.m2
/.mozilla
/.mpd
/.n
/.nmcli-history
/.node-gyp
/.node_repl_history
/.npm
/.npm-node-*
/.npmrc
/.npmrc*
/.nvm
/.op
/.phpls
/.pip
/.pki
/.pvpn-cli
/.pypirc
/.python_history
/.rustup
/.sbt
/.sdkman
/.serverless
/.serverlessrc
/.ssh
/.stack
/.teensy
/.tig_history
/.tmux
/.tor-browser
/.vagrant.d
/.viminfo
/.visidata/cache
/.vpython*
/.vpython-root
/.vscode
/.wget-hsts
/.xournal
/.xournalpp
/.xsession-errors*
/.zcompcache
/.zcompdump
/.zoom
/.zsh-history
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Google Drive
/Library
/Movies
/Pictures
/Public
/archive
/backups
/books
/clients
/clients_old
/downloads
/exocortex
/git.peterlyons.com
/github
/github.com
/go
/go
/keybase
/local
/mailchimp
/mc
/monolith
/music
/org
/photos
/projects
/scratch
/screens
/sdk
/shopchimp
/snippets
/target
/tmp
/voice-memos
/work-*
/.elm
/in
/.junique
/bookings
/.composer
/.tilt-dev/token
/.tilt-dev/analytics
.config/Logseq
20210124T230501Z
20210917T000616Z
20211118T043719Z
20220411T001921Z
20220527T181303Z
/f22
/f23
/.opam
/.config/Code - OSS
/.config/darktable
.config/1Password
.config/BraveSoftware
.config/google-chrome-beta
.config/google-chrome-unstable
.gnome
.config/vivaldi
.config/vivaldi-snapshot
.config/menus
.config/kicad
.config/microsoft-edge-dev
.config/netlify/config.json
.config/toot/config.json
.config/zoom.conf
.vscode-oss/argv.json
.config/netlify/autocompletion.json
.config/nvim/plugin/packer_compiled.lua
.config/kitty/*.bak
/.config/cef_user_data
/.rnd
/.config/Electron/Crashpad
/.config/PrusaSlicer/snapshots
/.config/nushell/history.txt
/.goful
/.vscode-oss/extensions
/.openshot_qt
/.netrc
/.earthly
/.terraform.d
.config/dlv/.dbg_history
/.config/Meltytech
/.config/Electron
.config/caldr/
.config/flowblade/
/.pgadmin
/.psql_history
/.config/aichat
/.config/temporalio/tctl.yaml
