* {
  all: unset;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  background-color: #3d95d6;
  color: #0a1122;
}

window {
}

.time {
  font-weight: bold;
}

.date {
}

.day {
}

.window-list {
  margin-top: 15px;
}

.window-item > label {
  background-color: rgb(103, 172, 223);
  border-radius: 4px;
  padding: 2px 6px;
}

.window-item.window-active {
  background-color: rgba(255, 255, 255, 0.3);
  color: yellow;
}

.workspace-info {
  border-radius: 3px;
  padding: 2px 6px;
  color: #0a1122;
  min-width: 18px;
  margin: 1px;
}
