* {
  all: unset;
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
}

window {
  background-color: #333333;
}

.time {
  color: #ffffff;
  font-weight: bold;
}

.date {
  color: #cccccc;
}

.day {
  color: #aaaaaa;
}