// Niri config file

input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    
    touchpad {
        tap
        natural-scroll
        dwt
    }
}

output "DP-1" {
    scale 1.0
}

layout {
    gaps 6
    center-focused-column "never"
    
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    
    default-column-width { proportion 0.5; }
    
    // focus-ring {
    //     width 4
    //     active-color "#7fc8ff"
    //     inactive-color "#505050"
    // }
    
    border {
        width 2
        // active-color "#ffc87f"
        // inactive-color "#505050"
    }
}

spawn-at-startup "waybar"

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    
    Mod+T { spawn "ghostty"; }
    Mod+D { spawn "wofi" "--show" "drun"; }
    
    Mod+Q { close-window; }
    
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    
    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    
    Mod+Shift+E { quit; }
    
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    
    Mod+R { switch-preset-column-width; }
    
    Mod+Comma { consume-window-into-column; }
    // Mod+Period { expel-window-from-column; }
    Mod+Period { focus-window-previous ; }
    
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    
    F10 { spawn "~/bin/focus-niri" "gofi"; }
}

window-rule {
    match app-id="firefox"
    default-column-width { proportion 0.75; }
}

prefer-no-csd
